input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
    -webkit-appearance: none;
	border-radius: 0;
	@include font-size( 1 );
	border-bottom: 3px solid #979797;
	outline: none;
	@include smooth_transition;	

	&:focus {
		color: $color__text-input-focus;
		border-bottom: 3px solid $color__accent;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 10px;
	width: 100%;
}

textarea {
	padding: 10px;
	width: 100%;
}