#masthead{
	background: #FFF;

	.wrap{
		padding: 33px 0;
	}

	.site-branding{
		float: left;
	}

	.site-title{
		@include font-size( 1.625 );
		margin: 0;

		a{
			text-decoration: none;
		}
	}
}

#site-navigation{
	float: right;
}