#masthead{
	background: #FFF;

	.wrap{
		padding: 33px 0;
		position: relative;
	}

	.site-branding{
		float: left;
		position: relative;
		z-index: 100; // should be higher than #site-navigation
	}

	.site-title{
		@include font-size( 1.625 );
		margin: 0;

		a{
			text-decoration: none;

			&:hover{
				color: $color__accent;
			}
		}
	}
}