/*--------------------------------------------------------------
10.1 Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
10.5 Footer
--------------------------------------------------------------*/
@import "footer";