// Transition
@mixin smooth_transition(){
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out ;
	-ms-transition: all .2s ease-out ;
	-o-transition: all .2s ease-out ;
	transition: all .2s ease-out ;	
}

@mixin animate( $time ){
  -webkit-animation-duration: $time;
          animation-duration: $time;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

// Animated selectors
.site-title a,
.entry-title a,
.entry-meta a,
.entry-content a,
.entry-footer a,
.more-link,
.navigation a,
#colophon a,
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
	@include smooth_transition;
}

.not-singular{
	.hentry.has-post-thumbnail{
		.entry-header{
			@include smooth_transition;	
		}
	}
}

// Main Nav fadeIn in mobile
@keyframes main_nav_mobile_in{
	0%{
		top: 80px;
		opacity: 0;
	}

	100%{
		top: 60px;
		opacity: 1;
	}
}

@-webkit-keyframes main_nav_mobile_in{
	0%{
		top: 80px;
		opacity: 0;
	}

	100%{
		top: 60px;
		opacity: 1;
	}
}

@keyframes main_nav_mobile_out{
	0%{
		top: 60px;
		opacity: 1;
	}

	100%{
		top: 80px;
		opacity: 0;
	}
}

@-webkit-keyframes main_nav_mobile_out{
	0%{
		top: 60px;
		opacity: 1;
	}

	100%{
		top: 80px;
		opacity: 0;
	}
}

// reply respond animation
@keyframes reply_respond{
	0%{
		margin-left: -20px;
		opacity: 0;
	}

	100%{
		margin-left: 0px;
		opacity: 1;
	}
}

@-webkit-keyframes reply_respond{
	0%{
		margin-left: -20px;
		opacity: 0;
	}

	100%{
		margin-left: 0px;
		opacity: 1;
	}
}

// Toggle search
@keyframes search_wrap_in{
	0%{
		top: 20px;
		opacity: 0;
	}

	100%{
		top: 0;
		opacity: 1;
	}	
}

@-webkit-keyframes search_wrap_in{
	0%{
		top: 20px;
		opacity: 0;
	}

	100%{
		top: 0;
		opacity: 1;
	}	
}

@keyframes search_wrap_out{
	0%{
		top: 0;
		opacity: 1;
	}

	100%{
		top: 20px;
		opacity: 0;
	}	
}

@-webkit-keyframes search_wrap_out{
	0%{
		top: 0;
		opacity: 1;
	}

	100%{
		top: 20px;
		opacity: 0;
	}	
}