.main-navigation {
	display: block;
	@include font-size( 1.125 );

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			float: left;
			position: absolute;
			top: 2.4em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
		
		&.current-menu-item,
		&:hover{
			> a{
				color: $color__accent;
			}
		}
	}

	.menu-item-has-children{
		> a{
			&:after{
				content: '\f431';
				font-family: 'Genericons';
				vertical-align: middle;
				margin-left: 5px;
			}
		}

		.menu-item-has-children{
			> a{
				&:after{
					content: '\f429';
				}
			}
		}

		&:hover{
			box-shadow: 0 3px 3px rgba(0,0,0,.5);

			> a{
				background: $color__accent;
				color: #000;
			}

			.sub-menu{
				box-shadow: 0 3px 3px rgba(0,0,0,.5);

				li{
					&.current-menu-item,
					&:hover{
						box-shadow: none;

						a{
							color: #000;
						}
					}

					.sub-menu{
						box-shadow: 2px 2px 2px rgba(0,0,0,.5);						
					}

					a{
						&:hover{
							background: lighten( $color__accent, 10% );
						}
					}
				}
			}
		}
	}

	.sub-menu{
		background: $color__accent;
	}

	a {
		display: block;
		text-decoration: none;
		padding: 8px 15px;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.comment-navigation,
.posts-navigation {
	padding: 50px 4px 30px;

	a{
		background: #2E2E2E;
		color: white;
		text-decoration: none;
		@include font-size( 1.125 );
		padding: 15px 25px;
		@include border-radius( 5px );
		display: inline-block;
		line-height: 1;

		&:hover{
			background: $color__accent;
		}
	}

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;

		a{
			&:before{
				content: '\f430';
				font-family: 'Genericons';
				vertical-align: middle;
				@include font-size( 1.125 );
				line-height: 1;
				margin-right: 10px;
			}
		}
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;

		a{
			&:after{
				content: '\f429';
				font-family: 'Genericons';
				vertical-align: middle;
				@include font-size( 1.125 );
				line-height: 1;
				margin-left: 10px;
			}
		}
	}
}

.post-navigation{
	padding: 30px 0;

	.nav-previous,
	.nav-next{
		a{
			background: #1B1B1B;
			color: white;
			display: block;
			text-decoration: none;
			padding: 30px 25px 28px;
			margin-bottom: 10px;
			position: relative;
			background-size: cover;

			&:after{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				content: '';	
				background: #000;
				opacity: .25;
			}

			.meta-nav{
				@include font-size( 1 );
				text-transform: uppercase;
				opacity: .75;
				display: block;
				position: relative;
				z-index: 10;
			}

			.post-title{
				@include font-size( 1.625 );
				text-shadow: 0 1px 2px #000;
				display: block;
				position: relative;
				z-index: 10;
				line-height: 1.2;
			}
		}
	}
}

.comment-navigation{
	overflow: hidden;
	padding: 30px 0 30px;

	&#comment-nav-above{
		padding: 0 0 45px;
	}
}