/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll #main .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

.infinite-loader{
	text-align: center;
	display: block;
	height: 73px;

	.spinner{
		display: block;
		margin: 55px auto 30px;
		left: 0 !important;
		top: auto !important;
		height: 73px;
	}
}

.infinite-scroll{
	#infinite-handle{
		padding: 40px 0;

		span{
			background: none;
			display: block;
			padding: 0;

			button{
				background: #2E2E2E;
				color: white;
				text-decoration: none;
				@include font-size( 1.125 );
				padding: 15px 25px;
				@include border-radius( 5px );
				display: block;
				line-height: 1;
				margin: 0 auto;

				&:hover{
					padding: 15px 25px;
					background: $color__accent;
					@include font-size( 1.125 );
					margin: 0 auto;
					display: block;
					line-height: 1;
				}		
			}
		}
	}	
}