#comments{
	background: #1B1B1B;
	color: white;

	.no-comments{
		border: 1px dotted rgba( 255, 255, 255, .1 );
		text-align: center;
		padding: 15px;
		background: rgba(255, 255, 255, .05);
		font-size: .9em;
	}
}

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comments-wrap{
	padding-top: 60px;
	padding-bottom: 60px;
}

.comments-title{
	font-weight: 300;
	margin-bottom: 40px;
	@include font-size( 1.6 );
}

.comment-list{
	margin: 0;
	padding: 0;
	list-style: none;

	.children{
		padding-left: 0;
		margin-left: 20px;

		li{
			list-style: none;
		}
	}
}

.comment-body{
	position: relative;
	padding-left: 80px;
	margin-bottom: 60px;

	a{
		text-decoration: none;
		color: white;

		&.comment-reply-link{
			background: #000000;
			padding: 12px 20px;
			@include font-size( 1 );
			@include border-radius( 3px );
			box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.5 );

			&:hover{
				background: $color__accent;
				color: #000;
			}

			&:active{
				background: darken( $color__accent, 10% );
				color: #000;
			}
		}
	}

	.fn{
		font-weight: 300;
		@include font-size( 1.375 );
	}

	.says{
		font-style: italic;
		@include font-size( 1.125 );
	}

	.comment-metadata{
		@include font-size( .875 );
		color: #575757;
		line-height: 1.2;

		a{	
			color: #575757;
		}
	}

	.avatar{
		position: absolute;
		top: 0;
		left: 0;
		width: 60px;
		height: 60px;
		border: none;
		background: rgba( 0, 0, 0, .3);
		@include border-radius( 50% );
	}

	.comment-content{
		margin-top: 15px;
	}
}

.trackback,
.pingback{
	.comment-body{
		border: 1px dotted rgba( 255, 255, 255, .3 );
		padding: 10px 15px;
	}
}

#reply-title{
	@include font-size( 1.6 );
	font-weight: 300;
	margin-bottom: 0;
	position: relative;
}

#respond{
	padding-top: 30px;

	a{
		color: white;
	}

	.comment-notes,
	.required,
	.form-allowed-tags{
		display: none;
	}

	label{
		display: block;
		@include font-size( 1.125 );
		padding-bottom: 10px;
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url{
		display: inline-block;
		width: 100%;
	}

	.comment-form-author,
	.comment-form-email{
		margin-right: 2%;
	}

	.comment-form-comment{
		margin-top: 15px;
		margin-bottom: 30px;
	}

	.form-submit{
		margin-bottom: 40px;
	}
	
	// Jetpack submission checkbox
	.comment-subscription-form{
		margin: 0 0 5px;
		@include font-size( 1 );

		input[type="checkbox"]{
			margin-right: 10px;
			vertical-align: middle;
		}

		label{
			padding-bottom: 0;
			vertical-align: middle;
		}
	}
}

.comment-list{
	#respond{
		padding-bottom: 30px;
		-webkit-animation-name: reply_respond;
				animation-name: reply_respond;
		@include animate( .4s );		
	}

	.depth-2{
		#respond{
			.comment-form-author,
			.comment-form-email,
			.comment-form-url{
				width: 100%;
				margin-right: 0;
			}					
		}
	}
}

#cancel-comment-reply-link{
	@include font-size( 1 );
	text-decoration: none;
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	border: 2px solid white;
	@include border-radius( 3px );
	padding: 5px 20px;

	&:hover{
		color: $color__accent;
		border-color: $color__accent;
	}
}

/* Tablet landscape + Desktop Adjustment */
@media screen and ( min-width: $size__breakpoint-desktop ){
	.comment-list{
		.children{
			margin-left: 80px;
		}
	}
}

/* Desktop Large Adjustment */
@media screen and ( min-width: $size__breakpoint-desktop-large ){
	.comments-title{
		@include font-size( 1.875 );
	}

	#reply-title{		
		@include font-size( 1.875 );
	}

	#respond{
		.comment-form-author,
		.comment-form-email,
		.comment-form-url{
			display: inline-block;
			width: 31.6%;
		}		
	}

	#cancel-comment-reply-link{
		top: 6px;
	}
}