.page-header{
	.page-title{
		font-weight: 300;
		color: #000;
	}

	p{
		margin-top: -20px;
		margin-bottom: 40px;
		color: lighten( #000000, 40% );
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/**
 * Hentry style for not-singular page
 */
.not-singular{
	#main{
		padding: 50px 0 10px;
	}

	.hentry{
		width: 580px;
		height: 435px;
		display: inline-block;
		background: #EDEDED;
		vertical-align: top;
		margin: 6px 4px;
		padding: 30px;
		overflow: hidden;

		.entry-title{
			@include font-size( 1.625 );
			font-weight: 300;
			margin: 0 0 5px;
			line-height: 1.2;

			a{
				text-decoration: none;

				&:hover{
					color: $color__accent;
				}
			}
		}

		.entry-meta{
			@include font-size( .875 );

			.updated{
				display: none;

				&.published{
					display: inline;
				}
			}

			.separator{
				opacity: .65;
			}

			a{
				text-decoration: none;
				opacity: .65;

				&:hover{
					opacity: 1;
				}
			}
		}

		.entry-excerpt{
			line-height: 1.8;

			.more-link{
				text-decoration: none;

				&:hover{
					color: $color__accent;
				}
			}
		}

		&.has-post-thumbnail{
			position: relative;

			.entry-thumbnail{
				display: block;
				margin: -30px;
				width: 580px;
				height: 435px;

				img{
					width: 100%;
				}

				&.height-adjustment{
					img{					
						width: auto;
						max-width: none;
						height: 100%;
					}
				}
			}

			.entry-header{
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				padding: 20px;
				color: white;
				@include gradient;

				a{
					color: white;

					&:hover{
						opacity: .65;
					}
				}
			}

			&:hover{
				.entry-header{
					padding-top: 40px;
				}
			}
		}

		&.three-column{
			width: 382px;
			height: 325px;
			margin-left: 4.7px;

			.entry-thumbnail{
				width: 382px;
				height: 325px;
			}

			.entry-excerpt{
				display: none;
			}
		}

		&.sticky{
			width: auto;
			display: block;
			
			.entry-thumbnail{
				width: 106%;

				img{
					width: 100%;
				}
			}

			&:before{
				content: '\f408';
				font-family: 'Genericons';
				position: absolute;
				top: 15px;
				left: 15px;
				color: rgba(255,255,255,.8);
				@include font-size( 2 );
				line-height: 1;
				background: rgba( 0, 0, 0, .2 );
				padding: 7px;
				@include border-radius( 5px );
			}
		}		
	}
}

/**
 * Singular template
 */
.singular{
	#main{
		padding: 90px 0
	}

	.hentry-wrap{
		position: relative;
	}

	.entry-header,
	.entry-content,
	.posts-navigation,
	.post-navigation,
	.comments-wrap{
		width: 780px;
		margin-left: 400px;
	}

	.entry-featured-image{
		background: darken( $color__background-body, 10% );
		box-shadow: inset 0 0 35px darken( $color__background-body, 20% );

		img{
			margin: 0 auto;
			display: block;
		}
	}

	.entry-title{
		line-height: 1.2;
	}

	.entry-footer{
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 330px;
		color: #575757;

		.item{
			display: block;
			padding: 10px 10px 10px 35px;
			position: relative;
			border-bottom: 1px solid #D3D0D0;

			&:before{				
				font-family: 'Genericons';
				@include font-size( 1.5 );
				vertical-align: middle;
				margin-right: 10px;
				position: absolute;
				top: 4px;
				left: 0;
			}
		}

		.author-link{
			&:before{
				content: '\f304';
			}
		}

		.date-link{
			&:before{
				content: '\f303';
			}
		}

		.cat-link{
			&:before{
				content: '\f301';
			}
		}

		.tag-link{
			&:before{
				content: '\f302';				
			}
		}

		.comment-link{
			border-bottom: none;

			&:before{
				content: '\f300';
			}
		}

		a{
			text-decoration: none;
			color: #575757;
			vertical-align: middle;

			&:hover{
				color: $color__accent;
			}
		}
	}

	.entry-title{
		@include font-size( 3.125 );
		font-weight: 300;
		color: #000;
		margin: 40px 0 0;
	}

	.entry-content{
		color: #000000;
		padding: 20px 0 0;
	}
}